/* Global Styles */
/* @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); */
/* font-family: 'Anton', sans-serif; */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  /* color: #fff; */
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 4rem;
}

/* Text Styles*/
.loginHeader {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-family: 'Lucida Sans';
}

.btn {
  display: inline-block;
  background: #fff;
  color: #333;
  padding: 0.4rem 1.3rem;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1rem;
  border: solid;
  border-width: 0.1em;
  border-color: #343a40;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 10px;
}

.alert {
  padding: 0.5rem;
  border-radius: 0.75rem;
  opacity: 0.9;
  margin-top: 0.5rem;
  margin-left: 25%;
  text-align: center;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}
.py {
  padding: 1rem;
}

/* Navbar */
.navbar {
  background-color: #464646;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 0.2em var(--primary-color);
}
.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

/* Landing Page */
.landing {
  position: relative;
  background: url('./images/Gym.jpeg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }
}
/* Text Styles */
.x-large {
  font-size: 3rem;
}

.login {
  /* max-width: 50%; */
  margin-left: 25%;
  margin-top: 5%;
  /* margin-bottom: 1.5em; */
  border-radius: 10px;
  border-color: var(--primary-color);
  border-style: solid;
  background-color: #dadada;
  text-align: center;
}

.login .loginText {
  font-size: x-large;
  font-family: 'Lucida Sans';
}

.login .loginInput {
  font-size: medium;
  padding: 0.5em;
  width: 50%;
  border-radius: 0.6em;
}
